<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			body { font-family: arial, helvetica, sans-serif; }
		</style>
	</head>
	<body>
		<h1>
			Thank you for signing up for your <%= @booking.course_name %> course in <%= @booking.office_name %>.
		</h1>
		<p>
			You are currently registered for:<strong><%= @booking.course_time %></strong>
		</p>
		<p>
			<strong>Location: <%= @booking.course_address %></strong>
		</p>
		<p>
			Click on the link below to download a sizeable information packet which will give you an excellent primer on Massachusetts gun law.
			<emphasis>Feel free to print it out and bring it to class as this is the material we will be covering</emphasis>.
		</p>
		<p><a href="http://www.massachusettsgunsafety.com/massgunsafety.pdf" target="_blank">Massachusetts Gun Safety Info Packet Download</a></p>
		<p>If you have any questions or would like to change your date, give our instructor Mike a call on his cell phone: 978-979-1061</p>
		<p>Thank you again and we look forward to seeing you in class!</p>
		<p><strong>MassachusettsGunSafety.com</strong></p>
	</body>
</html>
