#form {
  & > .intro > #filters {
  	#course-type-filter { margin-bottom: 1em; }
  }

	.payment-details { border-bottom: 1px dashed #888; margin-bottom: 2em; padding-bottom: 1em; }
	
	input { 
    &[readonly] { border: 0; background-image: none; background: transparent; } 
  }

  .nav {
  	margin-top: 2em;
  	.submit, .next { float: right}
  	.previous { float: left}
  }

}