%section#pay-cash.hidden
  %fieldset.payment-options
    %legend= @form.value_for("step_3_title") 
    .alert.warning
      %strong Please be prepared to pay course fees by cash or check when arriving to class.

    .errors    
    .payment-details
      .due
        .due-now{for: "due-now"}
          Total Due Now
        #cash-due-now.total{name:'due-now'} 0.00
          
    .personal-details
      .control-group.name
        %label.required{:for => "cash-name"} Name
        %input#cash-name{name:'name', :placeholder => "Your Name", :type => "text", :value => ""}

      .control-group.phone
        %label.required{:for => "cash-telephone"} Telephone
        %input#cash-telephone{:name => "telephone", :type => "tel", :placeholder => "(617) 555 - 1212" }

   
    .nav
      %button.btn.previous{data:{show: '#select-course', hide: "#pay-cash"}} Previous
      %button.btn.btn-primary.submit{data:{validate: "#pay-cash"}} Complete Registration